#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-display: swap;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
