#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-display: swap;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .app-container {
    padding: 10px;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .app-container {
    padding: 5px;
  }

  h1 {
    font-size: 20px;
  }
}